<!-- Guest has Access -->
<h1> New User </h1>

Need to
<%= button_to('Log In?', new_session_url, method: :get) %>

<br>

<form action='<%= users_url %>' method='post'>
  <label for='username'> Username </label>
  <br>
  <input type='text' name='user[username]' id='username'>

  <br>

  <label for='password'> Password </label>
  <br>
  <input type='password' name='user[password]' id='password'>

  <br>

  <input type='submit' value='Register'>
</form>
